@using ITI.PrimarySchool.DAL

<table>
    <tr>
        <td>Class Id</td>
        <td>Name</td>
        <td>Level</td>
    </tr>

    @foreach (ClassData c in ViewBag.Classes)
    {
    <tr>
        <td>@c.ClassId</td>
        <td>@c.Name</td>
        <td>@c.Level</td>
    </tr>
    }
</table>