{
  "ConnectionStrings": {
    "PrimarySchool": "<connection string>"
  },
  "JwtBearer": {
    "SigningKey": "<signing key>",
    "Issuer": "<issuer>",
    "Audience": "<audience>"
  },
  "Spa": {
    "Url": "<SPA url>"
  }
}
